<div class="text-center">
  <h2>{{name}}</h2>
  <a>Created by {{user.name}} on {{format_date date_created}}</a>
  <p>{{description}}</p>
  <p>{{reply}}</p>
  <p>
    <form class="form reply-form">
      <div class="form-group">
        <label for="reply">reply:</label>
        <input class="form-input" type="text" id="reply" />
        <button class="btn btn-primary"><a href='/reply'>Reply</a></button>
        <button class="btn btn-primary"><a href=''>Delete</a></button>
        <button class="btn btn-primary"><a href='/'>Home</a></button>
    </div>
  </p>
</div>


